@font-face {
    font-family: "Kohinoor-Regular";
    src: url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.eot");
    src: url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.svg#Kohinoor") format("svg");
}

@font-face {
    font-family: "AvenirNext-Thin";
    src: url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.eot");
    src: url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/c8a6828b90a1972fa94181b529016609.svg#AvenirNextW05-Thin") format("svg");
}

body {
    background-color: #f2f1ef;
    margin: 0;
}

#menu-top {
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-family: Kohinoor-Regular;
    text-align: center;
    background-color: white;
    /* left: 0;
    top: 0;
    position: fixed; */
    width: 100%;
    padding: 15px 0px 10px;
}

#menu-top .logo {
    font-size: .9em;
    display: inline-block;
    margin: auto;
}

#menu-top a {
    text-decoration: none;
}

#menu-top a:any-link {
    color: #413f3d;
}

#menu-top .navbar {
    letter-spacing: .1em;
    font-family: AvenirNext-Thin;
    font-size: .4em;
}

#menu-top .navbar-links {
    list-style: none;
    padding-left: 0;
    letter-spacing: .2em;
}

#menu-top .navbar-links > li {
    display: inline-block;
}

#menu-top .navbar-links > li + li {
    margin-left: 2em;
}

.day-tracker {
    font-family: 'Gill Sans';
    text-align: center;
    padding: 2rem;
    font-weight: 150;
    letter-spacing: .2em;
}

.day-number {
    font-size: 3rem;
    font-weight: 350;
    letter-spacing: .2em;
}

.post-container {
    column-count: 3;
    column-gap: 20px;
    margin: 0 70px 0 70px;
}

.post {
    font-family: 'Gill Sans';
    font-weight: 200;
    letter-spacing: .03em;
    background-color: #c9c6ca;
    color: white;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin: 0 0 15px;
    box-sizing: border-box;
    border-radius: 9px;
    overflow: hidden;
}

.post-date {
    font-weight: 100;
    font-size: .8em;
    padding: 15px 0 0 0;
}

.post-date a {
    text-decoration: none;
}

.post-date a:any-link {
    color: white;
}

.post-date a:hover {
    text-decoration: underline;
}

.clock {
    width: 14px;
    margin-left: 10px;
    vertical-align: top;
}

.act-box-form {
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin: 0 0 15px;
    box-sizing: border-box;
    border-color: #c9c6ca;
    overflow: hidden;
    border-style: solid;
    border-width: 4px;
}

.act-box-form textarea {
    font-family: 'Gill Sans';
    letter-spacing: .02em;
    border: none;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 2px;
    resize: vertical;
    width: 100%;
    max-height: 100%;
}

.act-box-form textarea:focus {
    outline: none;
}

.act-box-form textarea::placeholder {
    color: #c9c6ca;
}

.static-page {
    margin-left: 50px;
    font-family: Kohinoor-Regular;
    color: #413f3d;
    
}

.page-title {
    font-weight: normal;
}

.page-description {
    font-weight: 100;
    font-family: "Gill Sans";
}

.act-page {
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 0px;
}

.toxic-message {
    font-family: "Gill Sans";
    color: mediumvioletred;
    font-size: .8rem;
    margin-bottom: 10px;
}